<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ws3dx.core.ui.win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ws3dx.core.ui.win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ws3dx.core.ui.win.Properties.Settings>
            <setting name="cua_passportURL" serializeAs="String">
                <value />
            </setting>
            <setting name="cua_enoviaURL" serializeAs="String">
                <value />
            </setting>
            <setting name="cua_username" serializeAs="String">
                <value />
            </setting>
            <setting name="cua_password" serializeAs="String">
                <value />
            </setting>
            <setting name="cua_tenant" serializeAs="String">
                <value />
            </setting>
            <setting name="cua_securitycontext" serializeAs="String">
                <value />
            </setting>
            <setting name="pua_passportURL" serializeAs="String">
                <value />
            </setting>
            <setting name="pua_enoviaURL" serializeAs="String">
                <value />
            </setting>
            <setting name="pua_username" serializeAs="String">
                <value />
            </setting>
            <setting name="pua_password" serializeAs="String">
                <value />
            </setting>
            <setting name="pua_securitycontext" serializeAs="String">
                <value />
            </setting>
            <setting name="caa_enoviaURL" serializeAs="String">
                <value />
            </setting>
            <setting name="caa_serviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="caa_tenant" serializeAs="String">
                <value />
            </setting>
            <setting name="caa_securityContext" serializeAs="String">
                <value />
            </setting>
            <setting name="pba_passportURL" serializeAs="String">
                <value />
            </setting>
            <setting name="pba_enoviaURL" serializeAs="String">
                <value />
            </setting>
            <setting name="pba_username" serializeAs="String">
                <value />
            </setting>
            <setting name="pba_servicename" serializeAs="String">
                <value />
            </setting>
            <setting name="pba_securitycontext" serializeAs="String">
                <value />
            </setting>
            <setting name="sel_platform_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel_auth_method" serializeAs="String">
                <value>0</value>
            </setting>
        </ws3dx.core.ui.win.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ws3dx.core.ui.win.Properties.Settings>
            <setting name="DEFAULT_CLOUD_PASSPORT_URL" serializeAs="String">
                <value>https://eu1-ds-iam.3dexperience.3ds.com</value>
            </setting>
        </ws3dx.core.ui.win.Properties.Settings>
    </applicationSettings>
</configuration>